{% extends "base.html" %}

{% load dajngo-bootstarp %}


{% block title %}Sign In{% endblock %}
{% block active_login %}active{% endblock %}

{% block contents %}


{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>ログイン</h1>

            {% if confirmation %}

            <p>ユーザ登録を確定するには、以下のボタンを押してください</p>
            <form method="post" action="{% url 'account_confirm_login %}">
                {% csrf_token %}
                <button class="btn btn-primary" tyoe="submit">確定</button>
            </form>

            {% else %}
            {% url'account_emai' as email_url %}
            <p> リンクの有効期限が切れています。<a href="{{ email_url }}">再申請</a></p>

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
